<article>
    <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
    <h1><a href="{{ entry.url }}">{{ entry.description }}</a></h1>
    <h1><a href="{{ entry.url }}">{{ entry.videos.title}}</a></h1>

    {% for videos in entry.videos %}
        {{ videos.title }}
    {% endfor %}


    {% set rel = entry.Photo.one() %}
    {% if rel %}

        <img src="{{ rel.url }}">
    {% endif %}
</article>

