single page / details page

<article>
    <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
    <h1><a href="{{ entry.url }}">{{ entry.description }}</a></h1>
    <h1><a href="{{ entry.url }}">{{ entry.categories.title}}</a></h1>

    {% for category in entry.categories %}
        {{ categories.title }}
    {% endfor %}



    {% paginate craft.entries.section('News Post').limit(2) as pageInfo, pageEntries %}

    {% for entry in pageEntries %}
        <article>
            <h1>{{ entry.title }}</h1>
            {{ entry.description }}
        </article>
    {% endfor %}

    {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}
    {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}





</article>